# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Logs
logs
*.log


# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Dependency directories
node_modules/
jspm_packages/

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Environment variables
src/environments/environment*.ts

# Angular specific
.angular/
.angular/cache/
coverage/

# Build output
dist/
out-tsc/
build/

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
